*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --whitesmoke-color: #f3f5fb;
    --pink-color: #f07167;
}
iframe{
    height: 100%;
}
.wrapper{
    display:flex;
    width:100%;
    height:95%;

}
.content{
    display:flex;
    flex-direction: column;
    justify-content:center ;
    margin-bottom: 90px;
}
.content h1{
    width:350px;
    font-size:8vmin;
}
.container{
    height:100vh;
    width:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content .main-btn {
    background-color: transparent;
    border-color: var(--pink-color);
    font-weight: bold;
    color: #373b52;
}
.content .main-btn:hover,
.content .main-btn:focus
{
    background-color: var(--pink-color);
    color: var(--whitesmoke-color);
}