@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --whitesmoke-color: #f3f5fb;
    --blue-color: #4FBAF4;
    --bs-body-font-family:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


body{
    line-height: 1.5;

    font-family: var(--bs-body-font-family);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*start navbar*/
.navbar{
    background-color: white;
}
#home{

}
.navbar .navbar-brand{
    font-size: 28px;
    font-family: 'Pacifico', cursive;
    color: #373b52;
    color: #373b52;
}
.navbar .navbar-nav{
    margin-right: 150px;
    margin-left:150px;
}
.navbar .navbar-nav .nav-link{
    color: #373b52;

}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover{
    color: var(--blue-color)
}
.navbar .search{
    border-left: 1px solid var(--blue-color);
}
.navbar .search svg{
    color: var(--blue-color);
}
.navbar .main-btn {
    background-color: transparent;
    border-color: var(--blue-color);

    font-weight: bold;
    color: #373b52;
}
.navbar .main-btn:hover

{
    background-color: var(--blue-color);
    color: var(--whitesmoke-color);
}
/*end navbar*/
/*start*/
.landing{
    height: 100vh;

}
iframe{
    height: 100%;
}
.landing .wrapper{
    display:flex;
    width:100%;
    height:95%;

}
.landing .content{
    display:flex;
    flex-direction: column;
    justify-content:center ;
    margin-bottom: 90px;
}
.landing .content h1{
    width:350px;
    font-size:8vmin;
}
.landing .container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.landing .content .main-btn {
    background-color: transparent;
    border-color: var(--blue-color);
    font-weight: bold;
    color: #373b52;
}
.landing .content .main-btn:hover,
.landing .content .main-btn:focus
{
    background-color: var(--blue-color);
    color: var(--whitesmoke-color);
}
/*end*/
/*sign up*/
.radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    /*max-width: 350px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-inputs > * {
    margin: 6px 45px 6px 45px;
}

.radio-input:checked + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
}

.radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
}

.radio-input:checked + .radio-tile .radio-icon svg {
    fill: #2260ff;
}

.radio-input:checked + .radio-tile .radio-label {
    color: #2260ff;
}

.radio-input:focus + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*width: 80px;*/
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.radio-tile:hover {
    border-color: #2260ff;
}

.radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.radio-icon svg {
    width: 2rem;
    height: 2rem;
    fill: #494949;
}

.radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 30px;
}

.radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/*sign up*/
/*sign in*/

.modal .container{
    height:500px;
}

.registration-form {
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 45%;

    background: transparent;
}
.registration-form header {
    position: relative;
    z-index: 4;
    background: white;
    padding: 20px 40px;
    border-radius: 15px 15px 0 0;
}

.registration-form header h1 {
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #373b52;
    font-size: 23px;
    text-transform: uppercase;
    margin: 0;
}
.registration-form header p {
    word-spacing: 0px;
    color: #9facb6;
    font-size: 17px;
    margin: 0;
    margin-top: 5px;
}
.registration-form form {
    position: relative;
}
.registration-form .input-section {
    width: 100%;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    height: 75px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in;
}
.registration-form .input-section.folded {
    width: 95%;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}
.registration-form .input-section.folded input {
    background-color: #f8f9fa;
}
.registration-form .input-section.folded span {
    background-color: var(--blue-color) ;
}
.registration-form .input-section.folded + .folded {
    width: 90%;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
}
.registration-form .input-section.folded + .folded input {
    background-color: #e1bcef;
}
.registration-form .input-section.folded + .folded span {
    background-color: #e1bcef;
}
.registration-form .input-section.fold-up {
    margin-top: -75px;
}
.modal-body{
    background-color: transparent;
}

.registration-form form input {
    background: #fff;
    color: #8f8fd6;
    width: 80%;
    border: 0;
    padding: 20px 40px;
    margin: 0;
}
.registration-form form input:focus {
    outline: none;
}
.registration-form form input::placeholder {
    color: #8f8fd6;
    font-weight: 100;
}
.animated-button {
    width: 20%;
    background-color: var(--blue-color);
}
.content{
    flex: 1;
}
.animated-button span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 75px;
    text-align: center;
    height: 75px;
    transition: all 0.2s ease-in;
}
.animated-button span i {
    font-size: 25px;
    color: #f3f5fb;
}
.animated-button .next-button {
    background: transparent;
    color: red;
    font-weight: 100;
    width: 100%;
    border: 0;
}
.next {
    margin-top: -75px;
}
.success {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
    height: 75px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in;
    background: #8dcd8d;
    margin-top: -75px;
}
.success p {
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
    width: 100%;
    text-align: center;
}

/*end sign in*/
hr {
    border-top: 1px solid darkgray;
    width: 84.5%;
    margin: auto;
    background-color: var(--whitesmoke-color);
}
.footer .container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #373b52 ;
    padding: 70px 0 10px 0px;

}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.underline{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: var(--blue-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    overflow: hidden;

}
.underline span{
    width:15px;
    height:100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top:0;
    left: 10px;
    animation: moving 2s linear infinite;

}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #f3f5fb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.copyright{
    text-align: center;
    color: #ececec;
    font-size: 13px;
}
hr {
    border-top: 1px solid darkgray;
    width: 85%;
    margin: auto;
}
image{
    width:15px;
    height: 15px;
    margin-top: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
/***************************************************************************************************************************/


body{
    font-family: var(--bs-body-font-family);
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 72px);
    margin:0px;
    background-color: whitesmoke;
}
#profileC {
    min-width: 100%;
    height: 230px;
    position: relative;
    margin-top:72px ;
    padding: 0px;
    /*margin: 30px;*/
}
.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap:15px;
    background-image: linear-gradient( white , var(--blue-color));
}
.PButton,.UButton{
    position:relative;
    top:70%;
    right:22%;
}


.overlay {
    z-index: 1;
    margin: 60px 0px 0px 140px;
    width:300px;
    height: 620px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.counter {
    /*width:100%;*/
    padding: 17px 150px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    margin:20px 80px 0px 460px;
    height:100px;

}
.counter .count {
    font-weight: 700;
    color: #373b52;
    margin: 0 0 5px;
}
.counter p {
    font-weight: 600;
    margin: 0;
}
.about{
    margin:20px 80px 0px 500px;
}
.about h3 {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 6px;
    font-weight: 900;
}
.about p {
    font-size: 18px;
    height:35vh;
    margin-bottom:0px;
}
.about .Ebutton{

    position: relative;
    left:85%;
    margin-bottom:80px;

}
 input[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.about .SButton{
    position: relative;
    left:86%;
    margin-bottom:80px;

}
button{
    background-color: transparent;
    border: 0px solid transparent;
}
.about p mark {
    font-weight: 600;
    color: #373b52;

}
.overlay .avatar{
    min-height: 310px;
    display: flex;

}
iframe{

    height:310px;
}
.about-list {
    display: grid;
    min-height:290px;
    grid-template-columns: auto auto ;
    gap: 10px;
    background-color: transparent;
    padding: 15px;
}
.about-list {
    padding-top: 0px;
}
.about-list .media {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
}
.about-list label {
    color: #373b52;
    font-weight: 600;
    width: 88px;
    margin: 0;
    position: relative;
}

.about-list p {
    margin: 0;
    font-size: 15px;
    word-break: break-word;
    inline-size: 100px;
    color: #9facb6;

}
hr {
    margin-top: 1px;
    margin-bottom: 3px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}